@charset "UTF-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* Force scrollbar */
html {
  overflow-y: scroll; }

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit; }

em {
  font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle; }

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0; }

sup {
  top: -.7em; }

sub {
  bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " "; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

* {
  box-sizing: border-box; }

body {
  box-sizing: border-box;
  color: #fff;
  font-family: 'Fredoka', sans-serif; }

a {
  display: inline-block;
  color: inherit;
  text-decoration: none; }

li {
  display: inline-block;
  list-style-type: none; }

.container {
  position: relative; }

.wrapper {
  margin: 0 auto;
  width: 90%; }

.live-events__title, .artist__title, .trending__title {
  font-size: 3.12rem;
  font-weight: 900; }

.live-events__info, .artist__info, .trending__info {
  padding: 2.5rem 0 5.62rem;
  color: #a5acb0;
  font-size: 1.56rem;
  font-weight: 400; }

.header {
  padding: 20px 0;
  background-color: #101d39;
  color: #fff; }
  .header .wrapper {
    width: 97.2%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .header__nav {
    flex-basis: 20%; }
    .header__nav__list {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .header__nav__list__item a {
        text-transform: capitalize;
        font-size: 18px;
        font-weight: 500; }
        .header__nav__list__item a:hover {
          transform: scale(1.2);
          transition: transform .5s; }
    .header__nav__open, .header__nav__close {
      display: none; }

.banner {
  background: url("../../image/bg.jpg") no-repeat fixed center;
  background-size: cover;
  text-align: center; }
  .banner .wrapper {
    width: 53%;
    padding: 17.87rem 0 16.06rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  .banner__title {
    margin-bottom: 1.87rem;
    font-size: 5.12rem;
    font-weight: 900; }
  .banner__info {
    line-height: 1.7;
    color: #a5acb0;
    font-size: 2rem;
    font-weight: 500; }
  .banner__cta {
    padding: 20px 40px;
    border: 1px solid #a5acb0;
    border-radius: 5px;
    margin: 2.18rem 0;
    text-transform: capitalize;
    font-size: 1.62rem;
    font-weight: 700; }
    .banner__cta:hover {
      background-color: #a5acb0; }

.live-events {
  padding: 8.5rem 0 7.81rem;
  background-image: linear-gradient(to right, #101d39, #2d3c54);
  text-align: center; }
  .live-events__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch; }
    .live-events__list__item {
      border-radius: 10px;
      position: relative;
      background-color: #2d3c54;
      color: #a5acb0; }
      .live-events__list__item img {
        border-radius: 10px 10px 0 0; }
      .live-events__list__item__title {
        font-size: 1.43rem;
        font-weight: 700;
        padding: 3.12rem 2.5rem;
        text-align: left; }
      .live-events__list__item::after {
        content: "";
        color: #a5acb0;
        font-family: "FontAwesome";
        font-size: 4.37rem;
        font-weight: 400;
        position: absolute;
        top: 40%;
        right: 50%;
        bottom: 0;
        left: auto;
        opacity: .7;
        cursor: pointer; }
      .live-events__list__item:hover {
        transform: scale(1.05);
        transition: transform ease-in-out .5s; }

.artist {
  padding: 145px 0 123px;
  background-image: linear-gradient(to right, #0a1821, #283044); }
  .artist__details {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch; }
    .artist__details__name-list {
      flex-basis: 19.34%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch; }
      .artist__details__name-list__item {
        padding: 17px 6.62rem 19px 21px;
        border-radius: 5px;
        margin-bottom: 11px;
        background-color: #2d3c54;
        color: #a5acb0;
        cursor: pointer;
        font-size: 20px;
        font-weight: 400; }
        .artist__details__name-list__item:hover, .artist__details__name-list__item--selected {
          background-color: #aa15cc;
          color: #fff; }
    .artist__details__list {
      flex-basis: 77.7%;
      gap: 46px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch; }
      .artist__details__list__item {
        position: relative; }
        .artist__details__list__item img {
          border-radius: 5px; }
        .artist__details__list__item::after {
          content: "";
          color: #a5acb0;
          font-family: "FontAwesome";
          font-size: 4.37rem;
          font-weight: 400;
          position: absolute;
          top: 40%;
          right: 40%;
          bottom: 0;
          left: auto;
          opacity: .7;
          cursor: pointer; }
        .artist__details__list__item:hover {
          transform: scale(1.05);
          transition: transform ease-in-out .5s; }

.trending {
  padding: 150px 0 130px;
  background-image: linear-gradient(to right, #091115, #0a1821); }
  .trending__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch; }
    .trending__list__item {
      border-radius: 5px;
      flex-basis: calc(33.33% - 2.5rem);
      position: relative;
      background-color: #2d3c54; }
      .trending__list__item img {
        border-radius: 5px 5px 0 0; }
      .trending__list__item__title {
        padding: 2.5rem;
        font-size: 1.43rem;
        font-weight: 700; }
      .trending__list__item::after {
        content: "";
        color: #a5acb0;
        font-family: "FontAwesome";
        font-size: 4.37rem;
        font-weight: 400;
        position: absolute;
        top: 30%;
        right: 45%;
        bottom: 0;
        left: auto;
        opacity: .7;
        cursor: pointer; }
      .trending__list__item:hover {
        transform: scale(1.05);
        transition: transform ease-in-out .5s; }

.footer {
  padding: 135px 0 130px;
  background-color: #000; }
  .footer__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch; }
    .footer__list__item {
      flex-basis: calc(33.33% - 2.5rem); }
      .footer__list__item__title {
        padding-bottom: 3.12rem;
        text-transform: capitalize;
        font-size: 2rem;
        font-weight: 900; }
      .footer__list__item__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch; }
        .footer__list__item__list__item__info {
          padding: 20px 0;
          border-bottom: 1px solid #2d3c54;
          display: block;
          color: #a5acb0;
          font-size: 20px;
          font-weight: 400; }
  .footer__social__links {
    padding: 6.75rem 0 1.12rem;
    text-align: center; }
    .footer__social__links__icons {
      margin-right: 18px; }
      .footer__social__links__icons a {
        text-indent: -999999px; }
        .footer__social__links__icons a::after {
          text-indent: 0;
          float: right; }
        .footer__social__links__icons a:hover {
          transform: scale(1.2);
          transition: transform ease-in-out .5s; }
        .footer__social__links__icons a.twitter::after {
          content: "";
          color: #fff;
          font-family: "FontAwesome";
          font-size: 2rem;
          font-weight: 400; }
        .footer__social__links__icons a.facebook::after {
          content: "";
          color: #fff;
          font-family: "FontAwesome";
          font-size: 2rem;
          font-weight: 400; }
        .footer__social__links__icons a.instagram::after {
          content: "";
          color: #fff;
          font-family: "FontAwesome";
          font-size: 2rem;
          font-weight: 400; }
        .footer__social__links__icons a.snapchat::after {
          content: "";
          color: #fff;
          font-family: "FontAwesome";
          font-size: 2rem;
          font-weight: 400; }
  .footer__copyright {
    color: #a5acb0;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 400; }
    .footer__copyright--bold {
      color: #fff;
      text-transform: uppercase; }
