body {
  box-sizing: border-box;
  color: #fff;
  font-family: 'Fredoka', sans-serif;
}

a { 
  display: inline-block;
  color: inherit;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

.container { position: relative; }

.wrapper {
  margin: 0 auto;
  width: 90%; 
}