.header {
  padding: 20px 0;
  background-color: $primary-color;
  color: #fff;

  & .wrapper {
    width: 97.2%;
    @include flexBox (auto, space-between, center, false)
  }

  &__nav {

    flex-basis: 30%;

    @include breakpoint (pc) { flex-basis: 40% }

    @include breakpoint (ipad) { display: none }

    &__list {
      @include flexBox (auto, space-between, center, false);

      &__item a {
        text-transform: capitalize;
        @include font (18px, 500);

        &:hover {
          transform: scale(1.2);
          transition: transform .5s;
        }
      }
    }

    &__open, &__close { display: none; }

    &__open {
      @include breakpoint (ipad) { 
        display: block; 
        color: $tertiary-color;
        text-transform: capitalize;

        &::before {
          margin-right: 5px;
          @include icon ("\f0c9", inherit, 400, inherit)
        }
      }
    }

  }
}