@mixin icon ($content, $font-size, $font-weight, $color) {
  content: $content;
  color: $color;
  font-family: "FontAwesome";
  font-size: $font-size;
  font-weight: $font-weight;
} 

@mixin flexBox ($flex-direction, $justify-content, $align-items, $wrap) {
  display: flex;

  @if $wrap { flex-wrap: wrap; }
  @else { flex-wrap: nowrap; }
  
  @if $flex-direction != auto { flex-direction: $flex-direction }
  @else { flex-direction: row }

  @if $justify-content != auto { justify-content: $justify-content }
  @else { justify-content: flex-start; }

  @if $align-items != auto { align-items: $align-items; }
  @else { align-items: stretch }
}

@mixin font ($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin pos-absolute ($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}


@mixin trans-grow ($scale) {
  transform: scale($scale);
  transition: transform ease-in-out .5s;
}

@mixin play-cta-on-top ($top, $right, $bottom, $left) {
  @include icon ("\f04b", 4.37rem, 400, $tertiary-color);
  @include pos-absolute ($top, $right, $bottom, $left);
  opacity: .7;
  cursor: pointer;
}

@mixin social-icon ($content) {
  @include icon ($content, $icon-size, 400, #fff)
}
