@mixin icon ($content, $font-size, $font-weight, $color) {
  content: $content;
  color: $color;
  font-family: "FontAwesome";
  font-size: $font-size;
  font-weight: $font-weight;
} 

@mixin flex ($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-wrap: wrap;
  
  @if $flex-direction != auto { flex-direction: $flex-direction }
  @else { flex-direction: row }

  @if $justify-content != auto { justify-content: $justify-content }
  @else { justify-content: flex-start; }

  @if $align-items != auto { align-items: $align-items; }
  @else { align-items: stretch }
}
