$primary-color: #101d39;
$secondary-color: #2d3c54;
$tertiary-color: #a5acb0;
$charcoal: #0a1821;
$light-charcoal: #283044;
$dark-charcoal: #091115;
$pinkish-purple: #aa15cc;
$icon-size:2rem;

$pc:1440px;
$ipad-pro:1024px;
$ipad:768px;
$large-mobile:425px;
$med-mobile:375px;
$small-mobile:320px;
