.live-events {
  padding: 8.5rem 0 7.81rem;
  background-image: linear-gradient(to right, $primary-color, $secondary-color);
  text-align: center;

  &__title { @extend %section-title; }

  &__info { @extend %section-info; }

  &__list {
    @include flexBox (auto, space-between, auto, true); 
  
    &__item {
      border-radius: 10px;
      position: relative;
      background-color: $secondary-color;
      color: $tertiary-color;
    
      & img { border-radius: 10px 10px 0 0; }

      &__title {
        @include font (1.43rem, 700);
        padding: 3.12rem 2.5rem;
        text-align: left;
      }

      &::after { @include play-cta-on-top (40%, 50%, 0, auto); }

      &:hover { @include trans-grow(1.05) }
    }
  }
} 